*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.flex{
    display: flex;
}

header.flex-box{
    background-color: blue;
    height: 300px;
    width: 1000px;
    justify-content: center;
    
    
}
ul{
    list-style-type: none;
}
li{
    display: inline;
}
.navigation{
    height: 80px;
    width: 100%;
    background-color: skyblue;
    
}
section.flex-box{
    display: flex;
    background-color: yellow;
    height: 50px;
    width: 70%;
    border: 1px solid black;
    margin: 0 auto;   
    justify-content: space-around;
    
    

}