*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header.flex-box{
    background-color: blue;
    height: 400px;
    width: 1000px;
    justify-content: center; 
    display: flex;      
}
section.flex-box{
    display: flex;
    background-color: yellow;
    height: 50px;
    width: 70%;
    border: 1px solid black;
    margin: 0 auto;  
    padding: 0 10px; 
    justify-content: space-between;
    align-items: center;    
}

ul{
    list-style-type: none;
    flex-basis: 50%;
    border: 1px solid black;
    height: 100%;
}
li{
    display: inline;    
}
.navigation{
    height: 80px;
    width: 100%;
    background-color: skyblue;   
}
.slogan{
    background-color: blueviolet;
    width: 400px;
    height: 250px;
    display: flex;   

}