*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: blue;
    height: 400px;
    width: 1000px;
}
section.nav{
    display: flex;
    background-color: yellow;
    height: 50px;
    width: 70%;
    border: 1px solid black;
    margin: 0 auto;  
    padding: 0 10px; 
    justify-content: space-between;
    align-items: center;    
}

ul{
    list-style-type: none;
    flex-basis: 50%;
    border: 1px solid black;
    height: 100%;
}
li{
    display: inline;    
}
.flex{
    display: flex;
    flex-direction: column;
}
.row-flex{
    flex-direction: row;
    display: flex;
}
.navigation{
    height: 80px;
    width: 100%;
    background-color: skyblue; 
    padding-top: 15px;  
}
.slogan{
    background-color: blueviolet;
    width: 400px;
    height: 250px;
    margin-top: 35px;
}
.flex-container{
    justify-content: center;
    align-items: center;
}

.odd{
    width: 1000px;
    height: 400px;
    background-color: bisque;
    display: flex;
}
.even{
    width: 1000px;
    height: 400px;
    background-color: cyan;
    display: flex;
}
.box{
    width: 70%;
    height: 70%;
    border: 1px solid black;
    margin: auto;    
}
.azzurro{
    flex-basis: 65%;
    height: 100%;
    background-color: rgb(4, 62, 253);
}
.rosa{
    flex-basis: 35%;
    background-color: rgb(247, 1, 153);
}
.rosso{
    flex-basis: 35%;
    height: 100%;
    background-color: red;
}
.giallo{
    flex-basis: 65%;
    height: 100%;
    background-color: yellow;
}
.final-section{
    background-color: cyan;
    width: 1000px;
    height: 600px;
    display: flex;
}
.verde{
    background-color: darkgreen;
    width: 100%;
    height: 100%;
}